{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-dark rounded">
        <legend class="border-bottom mb-4 pt-2">
            Entre
        </legend>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form class="col-6" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-primary mt-3" type="submit">
                Entrar
            </button>
        </form>
        <div class="border-top py-3">
            <small class="text-muted">
                Não possui uma conta? <a href="{% url 'register' %}" class="ml-2">Cadastre-se agora</a>
            </small>
        </div>
    </div>
{% endblock content %}
