{% extends "base.html" %}
{% block content %}
    <div class="col">
        <div class="container bg-light rounded">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group pb-4">
                    <legend class="border-bottom mb-4 pt-1">
                        Deletar
                    </legend>
                    <h4>Você tem certeza que deseja deletar "{{ object.title }}"?</h4>  
                </fieldset>
                <div class="form-group pb-4">
                    <button class="btn btn-danger" type="submit">
                        Sim, deletar
                    </button>
                    <a class="btn btn-outline-primary" href="{% url 'topic_detail' object.id %}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}